<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Daisho | Front-end Dev</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="UTF-8">
	<meta name="descrition" content="Daisho | Front-end Developer">
	<meta name="keywords" content="front-end developer, web developer, JavaScript developer">
	<meta name="author" content="Daisho Komiyama">
	<meta property="og:title" content="Daisho | Front-end Developer">
	<meta property="og:site_name" content="Daisho | Front-end Developer">
	<meta property="og:url" content="http://daishodesign.com/">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Hello! I’m a front-end developer based in Montreal. I’m passionate about building clean, fast websites, capitalizing on my educations and experience in applying best practices in this field.">
	<meta property="og:image" content="http://daishodesign.com/images/fb-timeline-daisho.jpg">
	<meta property="og:image:width" content="400">
	<meta name="google-site-verification" content="OlhG7TRcovkFpxQRpzwIoi93-s-lyitxK5r_8zQO4Gg" />
	<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="shortcut icon" href="images/favi-logo.png">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-49713403-4', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body data-ng-app="myApp">
	<header class="main-header">
		<div id="site_logo" class="site-logo" data-ng-include="'images/logo.svg'"></div>
		<img id="alt_logo" class="alt-logo" src="images/logo-alt.svg" alt="daisho logo">
		<ul class="social-icons">
			<li>
				<a href="//www.facebook.com/daisho.komiyama" target="_blank">
					<img src="images/icon-fb.svg" onError="this.onerror=null; this.src='images/icon-fb.png'" alt="facebook">
				</a>
			</li>
			<li>
				<a href="//www.linkedin.com/in/daisho-komiyama-6766657a?trk=nav_responsive_tab_profile_pic" target="_blank">
					<img src="images/icon-linkedin.svg" onError="this.onerror=null; this.src='images/icon-linkedin.png'" alt="linkedin">
				</a>
			</li>
			<li>
				<a href="//github.com/kdaisho" target="_blank">
					<img src="images/github.svg" onError="this.onerror=null; this.src='images/github.png'" alt="github">
				</a>
			</li>
		</ul>
		<img id="main-menu" src="images/menu.svg" onError="this.onerror=null; this.src='images/menu.png'" alt="menu">
		<ul id="nav" style="right: -320px;">
			<li>
				<a href="https://github.com/kdaisho/Blog/wiki" target="_blank">
					<img class="nav-icon" src="images/icon-blog-opt.svg" alt="notebook">
					<span></span>BLOG
				</a>
			</li>
			<li>
				<a href="#about" class="link"><img class="nav-icon" src="images/icon-about-opt.svg" onError="this.onerror=null; this.src='images/icon-about.png'" alt="about me">
					<span></span>ABOUT
				</a>
			</li>
			<li>
				<a href="#work" class="link"><img class="nav-icon" src="images/icon-work-opt.svg" onError="this.onerror=null; this.src='images/icon-work.png'" alt="my work">
					<span></span>PROJECTS
				</a>
			</li>
			<li>
				<a href="#contact" class="link"><img class="nav-icon" src="images/icon-contact-opt.svg" onError="this.onerror=null; this.src='images/icon-contact.png'" alt="contact me">
					<span></span>CONTACT
				</a>
			</li>
			<img id="close-nav" src="images/close-btn.svg" onError="this.onerror=null; this.src='images/close-btn.png'" alt="close menu">
		</ul>
	</header>

	<section class="hero">
		<div class="title">
			<h1>DAISHO<br>KOMIYAMA</h1>
			<h2>Front-end Developer</h2>
		</div>
	</section>

	<a class="dest-link"></a> <!-- HTML5: anchor without an href attribute is valid -->
	<div class="wrapper">
		<section class="about">
			<img class="tape" src="images/scotch-tape.png" alt="scotch tape">
			<div class="about-top about-styles">
				<img src="images/daisho-profile.png" alt="daisho komiyama">
				<div class="my-name">
					<h2>Daisho Komiyama</h2>
					<h4>(die-show, komi-yama)</h4>
				</div>
			</div>
			<div class="about-bottom about-styles shadows">
				<div class="about-title">
					<h3>A bit about me</h3>
					<img src="images/flag-canada.png" alt="flag of canada">
					<img src="images/flag-japan.png" alt="flag of japan">
				</div>
				<div class="about-content">
					<p>
						Hello! I’m a front-end developer based in Montreal. I’m passionate about building clean, fast websites, capitalizing on my educations and experience in applying best practices in this field.
					</p>
					<p>
						You may spot me in a cafe or bar in the city, or on Mont Saint&#8209;Sauveur striving to learn how to fly! (<a href="//www.youtube.com/watch?v=_nkH4_fHZSE" target="_blank">see video</a>)
					</p>
				</div>
			</div>
		</section>
		<section class="edu-skills">
			<div class="educations">
				<h2>Educations</h2>
				<div class="cards" data-ng-controller="eduCtrl">

					<div data-ng-repeat="card in cards" class="card">
						<div class="side-a {{card.inst}}-a card-style">
							<img ng-src="images/{{card.url}}-logo.png" alt="{{card.inst}}">
							<p>{{card.period}}</p>
							<p>{{card.location}}</p>
						</div>
						<div class="side-b {{card.inst}}-b card-style">
							<div class="v-align">
								<div class="edu-title">
									<h4>{{card.title}}</h4>
								</div>
								<p>{{card.desc}}</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="skills" data-ng-controller="skillsCtrl">
				<h2>Skills &amp; Experiences</h2>
				<div id="wrap_skill" class="wrap-skill">

					<div data-ng-repeat="progbar in progbars" class="container-app">
						<img class="icon-skill" ng-src="images/icon-{{progbar.url}}.png" alt="{{progbar.alt}}">
						<div class="state-prog">
							<div class="state">
								<span class="{{progbar.eh}}">|</span>
								<span class="{{progbar.okay}}">|</span>
								<span class="{{progbar.good}}">|</span>
								<span class="{{progbar.ninja}}">|</span>
							</div>
							<div class="wrap-prog">
								<div class="prog-bar {{progbar.skill}}"><span>{{progbar.alt}}</span></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<a class="dest-link"></a>
		<section class="my-work goto-work" data-ng-controller="galleryCtrl">

			<h2>Personal Projects (2016&nbsp;&#8209;&nbsp;Present)</h2>
			<div id="wrap-thumbs">
				<div data-ng-repeat="image in images" class="wrap-thumb">
					<div>
						<span style="bottom: 10%; position: absolute; text-align: center; color: #fff; line-height: 1.2;">{{image.title}}<br>{{image.desc}}</span>
						<p class="my-work-text" data-pos="{{image.pos}}"></p>
					</div>
					<img data-ng-src="images/{{image.url}}" alt="{{image.alt}}">
				</div>
			</div>

		</section>

		<section class="my-work">
			<!-- Contribution Calendar Widget -->
			<script src="//cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"></script>
			<h2>Github Contributions</h2>
			<!-- Prepare a container for your calendar -->
			<div class="calendar"></div>

			<script>
				new GitHubCalendar('.calendar', 'kdaisho');
			</script>

			<a class="repositories" href="//github.com/kdaisho?tab=repositories" target="_blank">
				See all repositories &gt;
			</a>

			<div id="gal_holder">
				<div id="img_holder"></div>
				<div id="desc_holder"></div>
				<div id="close_btn">
					<img src="images/close-btn.svg" onError="this.onerror=null; this.src='images/close-btn.png'" alt="close">
				</div>
				<div>
					<img id="prev" class="arrow" src="images/arrow-prev.svg" onError="this.onerror=null; this.src='images/arrow-prev.png'" alt="previous" data-pos="0">
				</div>
				<div>
					<img id="next" class="arrow" src="images/arrow-next.svg" onError="this.onerror=null; this.src='images/arrow-next.png'" alt="next" data-pos="0">
				</div>
			</div>
		</section>

		<div id="modal_bg"></div>
		<section class="contact goto-contact">
			<a class="dest-link"></a> <!-- HTML5: anchor without an href attribute is valid -->
			<p>I'd like to hear from you. If you'd like more information about me, please fill out the form.<br>I'll get back to you ASAP!</p>
			<div class="btn-holder">
				<div id="modal_trigger">CONTACT</div>
				<div id="modal-overlay">
					<div class="modal-wrap">
						<img id="modal_close" class="" src="images/close-btn.svg" onError="this.onerror=null; this.src='images/close-btn.png'" alt="close">
						<form id="form" name="myForm" onsubmit="return false" data-ng-controller="validateCtrl">
							<h3>Questions or comments?</h3>
							<div class="form-child">
								<label for="user">Name:</label>
								<input id="user" type="text" placeholder="name" name="user" data-ng-model="user" required>
								<span data-ng-show="myForm.user.$dirty && myForm.user.$invalid">
									<span data-ng-show="myForm.user.$error.required">Name is required</span>
								</span>
							</div>
							<div class="form-child">
								<label for="email">Email:</label>
								<input id="email" type="email" placeholder="email" name="email" data-ng-model="email" required>
								<span data-ng-show="myForm.email.$dirty && myForm.email.$invalid">
									<span data-ng-show="myForm.email.$error.required">Email is required</span>
									<span data-ng-show="myForm.email.$error.email">Invalid email address</span>
								</span>
							</div>
							<div class="form-child">
								<label for="message">Message:</label>
								<textarea id="message" placeholder="message" name="message" rows="5" cols="30"></textarea>
							</div>
							<button id="submit" class="form-child" data-ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">SEND</button>
							<div style="clear: both;"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="contact-info">
				<p>Daisho Komiyama</p>
				<p>Front-end Developer</p>
				<a href="mailto:daishokomiyama@gmail.com?Subject=Hello%20" target="_top">daishokomiyama@gmail.com</a>
				<ul class="social-icons">
					<li>
						<a href="//www.facebook.com/daisho.komiyama" target="_blank">
							<img src="images/icon-fb.svg" onError="this.onerror=null; this.src='images/icon-fb.png'" alt="facebook">
						</a>
					</li>
					<li>
						<a href="//www.linkedin.com/in/daisho-komiyama-6766657a?trk=nav_responsive_tab_profile_pic" target="_blank">
							<img src="images/icon-linkedin.svg" onError="this.onerror=null; this.src='images/icon-linkedin.png'" alt="linkedin">
						</a>
					</li>
					<li>
						<a href="//github.com/kdaisho" target="_blank">
							<img src="images/github.svg" onError="this.onerror=null; this.src='images/github.png'" alt="github">
						</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
	<div class="btm-statement" data-ng-controller="timeCtrl">
		<div class="wrapper">
			<p>&#169; Copyright {{getDatetime | date:'yyyy'}} All Rights Reserved.</p>
		</div>
	</div>

	<script src="js/app.js"></script>

</body>
</html>