body {
    background: #ccc;
}

body * {
    font-family: sans-serif;
}

div[data-element="0"] {
    background: #ffeb3b;
}
div[data-element="1"] {
    background:#8bc34a;
}
div[data-element="2"] {
    background: #03a9f4;
}
div[data-element="3"] {
    background: #e91e63;
}
div[data-element="4"] {
    background: #607d8b;
}
.fill {
    align-items: center;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    height: 40px;
    left: 5px;
    position: relative;
    opacity: .7;
    top: 0;
    transition: top .25s;
    width: calc(100% - 10px);
}

.fill:hover {
    cursor: pointer;
}

.fill.up {
    top: -66px;
}

.fill.down {
   top: 66px;
}

.text {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 16px;
    user-select: none;
}

.empty {
    align-items: center;
    border: 3px solid salmon;
    display: flex;
    height: 50px;
    margin: 6px 10px;
    position: relative;
}

.hovered {
    border-style: dashed;
}

.invisible {
    display: none;
}

.handle {
    background: orange;
    float: right;
    height: 40px;
    padding-right: 6px;
    width: 50px;
}

.handle:hover {
    cursor: grab;
}